extends layout

block content
  div.container
    div.row
      div.col-md-12
        h1 #{title}

        p #{content}

        if dictionary.entries.length > 0
          table.table.table-hover
            thead
              tr
                th= "Word"
                th= "Probability"
            each item in dictionary.entries
              tr
                td
                  a(href='/dictionary/' + item.id) #{item.id}
                td #{item.probability}%

      form.markov-form.form-inline(data-type="dictionary" action="/dictionary" method="POST")
          div.input-group
            input.markov-input.form-control(placeholder="Word To Look Up" name="q")
            span.input-group-btn
              button.btn.btn-default Search
