extends layout

block content
  div.container
    div.row
      h1= title

    div.row
      p #{content}

      if dictionary.entries.length > 0
        table.table.table-hover
          thead
            tr
              th= "Word"
              th= "Probability"
          each item in dictionary.entries
            tr
              td
                a(href='/dictionary/' + item.id) #{item.id}
              td #{item.probability}%

      form.markov-form.form-inline(data-type="dictionary")
        div.form-group
          input.markov-input.form-control
          button.btn.btn-default Search Again
