extends layout

block content
  div.container
    div.row
      h1= title

    div.row
      p #{content}

      table.table.table-hover
        thead
          tr
            th= "Word"
            th= "Probability"
        each item in dictionary.entries
          tr
            td
              a(href='/dictionary/' + item.id)= item.id
            td= item.probability + '%'
